@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
    top: 0;
    left: 0;
}
/*Slider css */
.main-slider{
    width: 100%;
    height: 90vh;
    /* min-width: ; */
    position: relative;
    
    font-family: oxygen;
}
.main-slider .swiper{
    max-height: 90vh;
    height: 100%;
}
.main-slider .swiper-slide img{
    width: 100%;
    height: 100%;
    position: relative;
}
.main-slider .swiper-slide::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* z-index: 99; */
    position: absolute;
    top: 0;
    left: 0;
}
.main-slider .swiper-button-prev::after, .main-slider .swiper-button-next::after{
    /* position: absolute;
    background: url(./images/icons/next.png);
    top: 50%;
    transform: translateY(-50%);
    left: 5%; */
    position: absolute;
    top: 50%;
    font-size: var(--larger-heading);
    color: white;background: rgba(0, 0, 0, .5);
    padding: 1rem 1.3rem;
    border-radius: 50%;

    
}
.main-slider .swiper-button-prev::after{
    left: 5%;
}
.main-slider .swiper-button-next::after{
    right: 5%;
}

.Slider-content{
    z-index: 9;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}
.Slider-content .slide-title{
    font-size:var(--x3-heading);
    font-family: markazi;
    overflow: hidden;
    /* height: 60px; */
}
.slide-title h1{
    text-shadow: 3px 5px 10px var(--black);
}
.home-bottom-container .swiper-slide{
    width: 250px;
}
.header-comp{
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
}
.logo-header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), transparent);
    width: 100%;
}
.logo img{
    /* width: 6rem; */
    filter: drop-shadow(0 0 10px var(--black));
}
.logo .clg-name{
    font-family: markazi;
    font-size: 2rem;
    text-shadow: 2px 2px 10px var(--black);
}
.header-location{
    width: 30%;
}

.slider-nav{
    width: 100%;

}
.slider-nav>ul>div>a{
    color: white;
    text-shadow: 2px 2px 5px var(--black);
    font-family: oxygen;
    font-size: 1.1rem;
}
.slider-nav>ul>div{
    margin: 0 1rem;
}
#home{
    background: linear-gradient(160deg, var(--primary-bg-red), var(--card-linear-dark-red));
    border-radius: 50%;
    padding: .7rem .4rem;
    box-shadow: 0 0 10px var(--black);
    display: block;
}
.mobile-menu, .mobile-home{
    display: none;
}

.language-change-container{
    font-family: oxygen;
}

#language{
    background: none;
    border-radius: .4rem;
    margin: 1px 0;
    outline: none;
    appearance: none;
}
#language option{
    color: var(--primary-bg-red);
    font-weight: bold;
}

#font-inc, #font-dec{
    margin: 0 .4rem;
    cursor: pointer;
}
.department-slider-container{
    width: 100%;
    height: 25rem;
    position: relative;
    background: var(--white);
    overflow: hidden;
}
.dept-heading {
    position: relative;
    z-index: 99;
}
.department-slider-container>img{
    object-fit: contain;
    position: absolute;
    opacity: 30%;
}
.department-slider-container .polygon:nth-of-type(1){
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
}
.department-slider-container .polygon:nth-of-type(2){
    top: 0;
    height: 70%;
    right: 0;
}
.department-slider-container .polygon:nth-of-type(3){
    top: 0;
    left: 0;
    height: 100%;
}

.department-slider-container h1{
    font-family: markazi;
    font-size: var(--extra-large-heading);
    font-weight: 600;
}

.dept-slider-container{
    width: 100%;
    height: 300px;

}
.departmentImages{
    position: relative;
}
.dept-images-cover{
    color: white;
    font-family: oxygen;
    font-size: var(--large-heading);
    background: var(--black);
    opacity: .6;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .dept-slider-container .swiper-slide{
    width: 300%;
    height: 100%;
} */

/* Vision Mission CSS*/
.vision-mission-container{
    width: 85%;
}
.vision-mission-container h1{
    
    font-size: var(--extra-large-heading);
    font-family: markazi;
}
.vision-container{
    background: linear-gradient(160deg, var(--primary-bg-red),var(--card-linear-dark-red));
}

.mission-container{
    background: var(--card-linear-red);
}

/* Home page css */
.home-container{
    width: 85%;
    position: relative;
    margin: 0 auto;
}


.clg-about{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 2rem;
    transform: translateY(-30%);
    position: relative;
    z-index: 9;
}
.about-card{
    background: linear-gradient(160deg, var(--card-linear-red), var(--white));
    box-shadow: 0 0 10px var(--black);
}
.about-card>h1{
    font-family: markazi;
    font-size: var(--extra-large-heading);
}
.notice-card{
    background: linear-gradient(160deg, var(--primary-bg-red), var(--card-linear-dark-red));
    border: .2rem solid var(--primary-bg-red);
    height: 200px;
    color: white;
    box-shadow: 0 0 10px var(--black);
    font-family: montserrat;
}
.notice-heading h1{
    font-size: var(--larger-heading);
}
.notices-container{
    overflow: hidden;
    transform: translateY(0);
    height: 68%;
}
.notice-inner-container{
    height: auto;
    animation: notice_shown 15s linear infinite;
}
.notice-inner-container:hover{
    animation-play-state: paused;
}
@keyframes notice_shown {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
.notice{
    display: block;
    margin: 1rem 0;
    font-family: oxygen;
}


.principal-message-container{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2rem;
    font-family: oxygen;
}
.principal-message-card, .about-department-container{
    background: var(--primary-bg-translucent);
}
.principal-name > div{
    color: var(--primary-bg-red);
    font-weight: bold;
}
.news-paper-card{
    background: var(--primary-bg-translucent);
    width: 90%;
}
.news-paper-card h1{
    font-family: montserrat;
    border-bottom: .2rem solid var(--primary-bg-red);
    font-size: var(--large-heading);
}

.news-container{
    overflow: auto;
}
.news-container .swiper-slide img{
    object-fit: cover;
}

.home-bottom-container{
    width: 100%;
    height: auto;
    background: var(--background-red-shade);
}
.home-po-gallery-container{
    width: 85%;
    margin: 0 auto;
}
.home-po-container h1, .gallery-container h1{
    font-family: markazi;
    font-size: var(--extra-large-heading);
    font-weight: 600;
}
.galleryImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.program-outcome-content > ol{
    list-style: decimal;
    text-align: justify;
} 
.program-outcome-content > ol > li{
    margin: 1rem 0;
}
.footer-container h1{
    font-size: var(--large-heading);
    color: var(--black);
}
.footer-container>img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.footer-container>*{
    color: var(--fade-grey);
}
.f-quick-links ul li, .f-imp-links ul li{
    margin: 1rem 0;
}
/*Image Background CSS*/
.background-building{
    position: absolute !important;
    width: 100%;
    z-index: -1;
}
.background-building img{
    width: 100%;
    object-fit: contain;
}


/* Social Media Icon */
.socialMediaIcon > a{

    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background:  linear-gradient(160deg, var(--primary-bg-red), var(--card-linear-dark-red));    ;
    border-radius: 50%;
}



.recruiters-container .recruiter{
    min-width: 170px;
    display: flex;
    align-items: center;
}
.recruiters-container .recruiters-list-container{
    width: 90%;
    margin: auto;
}
.recruiters-container .recruiters-list{
    animation: scroll 12s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.recruiters-container h1{
    font-family: markazi;
    font-size: var(--extra-large-heading);
    font-weight: 600;
    position: relative;
}

.recruiters-list .recruiter{
    margin: 0 2rem;
}





/*Dropdown css*/
.dropdown-container{
    transition: all .4s;
    overflow: hidden;
    transition: all .4s;
    height: 0;
    display: flex;
    border: .2rem solid var(--primary-bg-red);
    border-radius: 0 0 2rem 2rem;
}
.dropdown-container .dropdown-component:not(:first-of-type):not(:last-of-type){
    margin: 0 1rem;
}
.dropdown-container .dropdown-component{
    border-radius: 0 0 1.2rem 1.2rem;
    border: .1rem solid transparent;
    transition: all .4s;
}
.dropdown-container .dropdown-component:hover{
    border: .1rem solid var(--primary-bg-red);

}
.dropdown-heading{
    background: var(--primary-bg-red);
    padding: .2rem .7rem;
    font-family: oxygen;
    color: white;
    font-weight: 600;

}
.dropdown-container .dropdown-component li{
    margin: .5em 0;
}


.dd-labs{
    background: linear-gradient(160deg, var(--primary-bg-red), var(--card-linear-dark-red));;
    font-size: 1rem;
    font-family: montserrat;
    font-weight: 600;
}




/********** Mobile Dropdown ***********/

.mobile-dropdown-menu{
    /* display: none; */
    overflow: auto;
    width: 90%;
    position: fixed;
    transform: translateX(-50%);
    top: 0%;
    left: 50%;
    background: white;
    /* padding: 1rem; */
    transition: all .4s ease-out;
    opacity: 0;
    box-shadow: 0 0 10px 3px black;
    z-index: 9999;
    max-height: 400px;

}
.mobile-dropdown-menu>div{
    /* padding: .4rem .6rem; */
    /* margin: 1rem 0; */
    border-bottom: .01rem solid rgb(194, 194, 194);
    border-top: .01rem solid rgb(194, 194, 194);
}
.mobile-dropdown-menu>div>a>li{
    color: var(--primary-bg-red);
    padding: .4rem 1rem;

}
.mobile-dropdown-menu>div a li:hover{
    color: var(--white);
    background: var(--primary-bg-red);

}
.mobile-dropdown-menu>div a li:hover>svg>path{

    fill: white;
}
.mobile-dropdown{
    transition: height .7s, opacity .5s;
    overflow: hidden;
    /* margin: 1rem 0; */
}
.mobile-dropdown-menu li{
    list-style: none;
    font-family: oxygen;
}
.mobile-dropdown-menu .dropdown-component{
    padding: .4rem 1rem;
}
.mobile-dropdown-menu .dropdown-heading{
    background: var(--card-linear-dark-red);
}


/************ Department Page CSS **************/
.department-main-container{
    width: 85%;
    margin: auto;
}
.department-dynamic-container{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 15px;
}
.department-heading h1, .department-heading h2, .about-department-container h1{
    font-family: markazi;
    font-size: var(--extra-large-heading);
    font-weight: 600;
}
.supporting-heading{
    font-family: markazi;
    font-size: var(--extra-large-heading);
    font-weight: 600;
}
.inner-dept-main-menu{
    background: var(--primary-bg-translucent);
    padding: .8rem;
}
.inner-dept-main-menu h1{
    font-size: var(--larger-heading);
    font-weight: 600;
    font-family: montserrat;
    text-align: center;
}

.inner-dept-main-menu li{
    margin: 1rem 0;
    cursor: pointer;
}
.mobile-dept-menu{
    position: fixed;
    right: 0;
    top: 40%;
    background: white;
    padding: .8rem;
    border-radius: 12px 0 0 12px;
    box-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(35, 11, 11);
    z-index: 9999;
    cursor: pointer;
}
.hover-line{width: 0; height: .1rem; display: block;}

.dropdown-component a:hover > .hover-line,.inner-dept-main-menu ul li:hover > .hover-line{
    width: 100%;
    height: .1rem;
    display: block;
    background: var(--primary-bg-red);
    transition: all .4s;
}
.dept-dynamic-change-container .vision-mission-container{
    width: 100%;
}
.dept-dynamic-change-container .dept-peos-block li, .dept-psos-pos-block li{
    margin: 1.4rem 0 ;
}
.dept-dynamic-change-container .dept-peos-block h1, .dept-psos-pos-block h1{
    font-family: markazi;
    font-size: var(--extra-large-heading);
    font-weight: 600;
}





/* ***************** Staff Component CSS *********************/
.staffComp{
    border: .2rem solid var(--primary-bg-red);
    border-radius: .7rem;
    overflow: hidden;
}
.staffResigntion{
    font-family: markazi;
}
.staffName{
    font-family: montserrat;
}
.staffDetails{
    font-family: oxygen;
    font-weight: 600;
}
.staffDetails li{
    margin: 1rem 0;
}